@font-face {
    font-family:'Bebas';
    src: url(../font/BebasNeueRegular-gxj83.ttf);
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas';
}

body{
    background-color: #333333;
}

.limite{
    padding: 20px;
    margin-top: 200px;
    width: 800px;
}

.logo_projeto{
    position: fixed;
    top:10px;
    left: 10px;
    width: 120px;
}

.janela_1{
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: #292929;
    width: 650px;
    height: 170px;
}

.janela_1 h1{
    font-size: 27px;
    text-align: left;
    color: aliceblue;
    font-weight: 300;

}


/*TURMA*/

.campo_tela_config{
    margin-top: 15px;
    width: 600px;
    display: flex;
    height: 30px;
    transition: 0.4s;
}

.campo_tela_config input{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    padding: 8px;
    height: 30px;
    width: 550px;
    outline: none;
}

.categoria{
    margin: 0;
    padding: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    width: 55px;
    background-color: #1CB78C;
}

.categoria p{
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    color: aliceblue;
    width: 55px;
}


.campo_tela_config input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: #D4D4D4;
}


.campo_tela_config:hover{
    transition: 0.4s;
    scale: 1.1;
}


.botao{
    margin-top: 30px;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    outline: 0;
    border: none;
    background-color: #1CB78C;
    font-size: 20px;
    color: aliceblue;
    transition: 0.4s;
}

.botao:hover{
    cursor: pointer;
    transition: 0.4s;
    background-color: #20d8a4;
    scale: 1.1;
}

.botao:active{
    scale: 1;
}

.content_part_cima{
    width: 510px;
}


/*CANDIDATO*/

.parte_cima{
    display: flex;
    width: 600px;
    border-style: solid;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: aliceblue;
    border-width: 2px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.janela_2{
    text-align: left;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
    background-color: #292929;
    width: 650px;
}

.janela_2 h1{
    font-size: 27px;
    text-align: left;
    color: aliceblue;
    font-weight: 300;

}

.campo_tela_config_2{
    margin-top: 15px;
    
    display: flex;
    height: 30px;
    transition: 0.4s;
}

.campo_tela_config_2 input{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    padding: 8px;
    height: 30px;
    width: 450px;
    outline: none;
}


.campo_tela_config_2 input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: #D4D4D4;
}

.campo_tela_config_2:hover{
    transition: 0.4s;
    scale: 1.1;
}


/*NUMERO DO CANDIDATO*/


.campo_tela_config_2_numero{
    margin-left:0;
    margin-top: 15px;
    display: flex;
    height: 30px;
    transition: 0.4s;
    width: 100px;
}

.campo_tela_config_2_numero input{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    padding: 8px;
    width: 80px;
    height: 30px;
    outline: none;
}


.campo_tela_config_2_numero input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: #D4D4D4;
}

.campo_tela_config_2_numero:hover{
    transition: 0.4s;
    scale: 1.2;
}




/*IMAGEM DO CANDIDATO*/

#input_foto{
    display: none;
}


.foto_image img{
    margin-left: 5px;
    margin-top: 5px;
    width: 90px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color:aliceblue;
    background-color: white;
}

.foto{
    cursor: pointer;
}


.vassouras_logo{
    position:absolute;
    bottom: 10px;
    right: 10px;
    width: 220px;
}
