@font-face {
    font-family:'Bebas';
    src: url(../font/BebasNeueRegular-gxj83.ttf);
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas';
}

body{
    background-color: #333333;
}

.limite{
    padding: 20px;
    margin-top: 200px;
    width: 800px;
}

.logo_projeto{
    position: fixed;
    top:10px;
    left: 10px;
    width: 120px;
}

.janela_1{
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: #292929;
    width: 650px;
    height: 200px;
}

.janela_1 h1{
    font-size: 27px;
    text-align: left;
    color: aliceblue;
    font-weight: 300;

}


/*ELEIÇÃO*/

.campo_tela_config{
    margin-top: 15px;
    width: 600px;
    display: flex;
    height: 30px;
    transition: 0.4s;
}

.campo_tela_config input{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    padding: 8px;
    height: 30px;
    width: 550px;
    outline: none;
}

.categoria{
    margin: 0;
    padding: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    width: 55px;
    background-color: #1CB78C;
}

.categoria p{
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    color: aliceblue;
    width: 55px;
}

.categoria_vota{
    margin: 0;
    padding: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    width: 150px;
    background-color: #1CB78C;
}

.categoria_vota p{
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    color: aliceblue;
}


.campo_tela_config input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: #D4D4D4;
}


.campo_tela_config:hover{
    transition: 0.4s;
    scale: 1.1;
}


.botao{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    outline: 0;
    border: none;
    background-color: #1CB78C;
    font-size: 20px;
    color: aliceblue;
    transition: 0.4s;
}

.botao:hover{
    cursor: pointer;
    transition: 0.4s;
    background-color: #20d8a4;
    scale: 1.1;
}

.botao:active{
    scale: 1;
}

.content_part_cima{
    width: 600px;
}


/*CANDIDATO*/

.parte_cima{
    display: flex;
    width: 600px;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

.janela_2{
    text-align: left;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
    background-color: #292929;
    width: 650px;
}

.janela_2 h1{
    font-size: 27px;
    text-align: left;
    color: aliceblue;
    font-weight: 300;

}

.campo_tela_config_2{
    margin-top: 15px;
    width: 600px;
    display: flex;
    height: 30px;
    transition: 0.4s;
}

.campo_tela_config_2 input{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    padding: 8px;
    height: 30px;
    width: 550px;
    outline: none;
}


.campo_tela_config_2 input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: #D4D4D4;
}

.campo_tela_config_2:hover{
    transition: 0.4s;
    scale: 1.1;
}


/*NUMERO DO CANDIDATO e IDADE*/

.campo_tela_config_2_numero{
    margin-left:0;
    display: flex;
    height: 30px;
    transition: 0.4s;
    width: 100px;
    margin-right: 130px;
}

.campo_tela_config_2_numero input{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    padding: 8px;
    width: 80px;
    height: 30px;
    outline: none;
}


.campo_tela_config_2_numero input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: #D4D4D4;
}

.campo_tela_config_2_numero:hover{
    transition: 0.4s;
    scale: 1.2;
}

/*IDADE*/

.campo_tela_config_2_idade{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    padding: 8px;
    width: 80px;
    height: 30px;
    outline: none;
}

/*BOTÃO LIXO*/

.lixo{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    background-color: #1CB78C;
    transition: 0.4s;
}

.lixo img{
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}


.lixo:hover{
    cursor: pointer;
    transition: 0.4s;
    background-color: #20d8a4;
    scale: 1.1;
}

.lixo:active{
    scale: 1;
}


.linha_lixeira{
    width: 600px;
    margin-top: 15px;
    height: 30px;
    display: flex;
}


/*BOTOES*/

.botoes_janela_baixo{
    display: flex;
}

.botoes_janela_cima{
    width: 600px;
    padding-left: 460px;
    display: flex;
    margin-top: 15px;

}

/*LISTA*/

.parte_baixo{
    margin-top: 20px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: aliceblue;
    border-width: 2px;
}


.lista_candidatos{
    font-size: x-large;
    color: aliceblue;
}

.motivo_turma{
    font-size: xx-large;
    color: aliceblue;
}

.iniciar{
    display: flex;
    width: 600px;
    height: 50px;
}

.iniciar_botao{
    text-decoration: none;
    color: aliceblue;
    margin-top: 20px;
    background-color: #1CB78C;
    width: 120px;
    height: 30px;
    border: none;
    font-size: large;
    border-radius: 10px;
    transition: 0.4s;
}


.iniciar_botao:hover{
    cursor: pointer;
    transition: 0.4s;
    background-color: #20d8a4;
    scale: 1.1;
}

.iniciar_botao_2{
    text-decoration: none;
    color: aliceblue;
    margin-top: 20px;
    background-color: #1CB78C;
    width: 120px;
    height: 30px;
    border: none;
    font-size: large;
    border-radius: 10px;
    transition: 0.4s;
}


.iniciar_botao_2:hover{
    cursor: pointer;
    transition: 0.4s;
    background-color: #20d8a4;
    scale: 1.1;
}

.janela_3{
    display: none;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: #292929;
    width: 650px;
    height: 200px;
}

.janela_3 h1{
    font-size: 27px;
    text-align: left;
    color: aliceblue;
    font-weight: 300;

}

.janela_4{
    margin-bottom: 100px;
    margin-top: 10px;
    display: none;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: #292929;
    width: 650px;

}

.janela_4 h1{
    font-size: 27px;
    text-align: left;
    color: aliceblue;
    font-weight: 300;

}

.janela_4 p {
    color: aliceblue;
    font-size: xx-large;
    text-align: center;
}


/*BOTÃO IMPRESSORA*/

.printer{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    background-color: #1CB78C;
    transition: 0.4s;
}

.printer img{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}


.printer:hover{
    cursor: pointer;
    transition: 0.4s;
    background-color: #20d8a4;
    scale: 1.1;
}

.printer:active{
    scale: 1;
}

.vassouras_logo{
    position:absolute;
    bottom: 10px;
    right: 10px;
    width: 220px;
}