@font-face {
    font-family:'Bebas';
    src: url(./font/BebasNeueRegular-gxj83.ttf);
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas';
}

body{
    background-color: #333333;
}

.limite{
    height: 300px;
    width: 1280px;
}

.janela{
    margin-top: 200px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: #292929;
    width: 350px;
    height: 300px;
}

.janelinha{
    position: relative;
    top: -40px;
}

.cadeado_icon{
    position: relative;
    top: -60px;
    width: 75px;
}

.cadeado_icon img{
    width: 75px;
}

.janela h2{
    font-weight: 300;
    color: aliceblue;
    font-size: 17px;
}

.campo_tela_login{
    margin-top: 30px;
    width: 300px;
    display: flex;
    height: 35px;
    transition: 0.4s;
}


.campo_tela_login input{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    padding: 8px;
    margin-bottom: 30px;
    height: 35px;
    width: 300px;
    outline: none;
}

.campo_tela_login figure{
    padding: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    width: 55px;
    background-color: #1CB78C;
}

.campo_tela_login figure img{
    width: 25px;
}


.campo_tela_login input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: #D4D4D4;
}

.campo_tela_login:hover{
    transition: 0.4s;
    scale: 1.1;
}


.botao{
    margin-top: 30px;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    outline: 0;
    border: none;
    background-color: #1CB78C;
    font-size: 20px;
    color: aliceblue;
    transition: 0.4s;
}

.botao:hover{
    cursor: pointer;
    transition: 0.4s;
    background-color: #20d8a4;
    scale: 1.1;
}

.botao:active{
    scale: 1;
}